div#david {
    background-image: url("https://images.unsplash.com/photo-1581922812026-230e99826f55?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
}

div#david.img {
    margin: 5px;
    border: 1px solid black;
    max-width: 180px;
    max-height: 180px;
}

#david.about {

}

.aaron-header{
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: left;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.aaron-content{
    display: flex;
    flex-wrap: nowrap;

}

.aaron-content-pfp{
    border-radius: 50%;
    max-width: 25%;
    margin: 10px;

}

.aaron-content-description{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid black;
}

h2{text-align: center}

p {
    text-align: center;
}
#jacob{
    width: 250px;
    position: relative;
    display: block;
    padding: 1.7em 0.5em 2.0em 1.7em;
}

.profilePicture{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
